* {
  margin-bottom: 20px;
}

.MuiInputBase-root {
  padding-right: 0 !important;
}
p {
  color: rgb(228, 34, 34) !important  ;
}

.text-input {
  margin-bottom: 20px;
  width: 100%;
}

.text-input * {
  width: 100%;
}
